h2 {
    text-align: center;
    margin: 30px 0;
}

.result-bg {
    background: #11966a;
    border: 1px solid #11966a;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 99;
    letter-spacing: 1px;
    color: #fff;
}

.white {
    color: #ffffff;
}