<section>
  <h2>Get data from Mock API</h2>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let data of result">
        <div class="col-4">
          <div class="result-bg">
            <p class="mb5">{{data.id}}</p>
            <h4>{{data.name}}</h4>
            <p>{{data.category}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
