<mat-toolbar color="primary">
    Refread Library
    <span class="spacer"></span>
    <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
    <button mat-flat-button color="primary" routerLink="admin" routerLinkActive="active">Admin</button>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>